.blog__posts {
    display: flex;
    flex-direction: column;
    align-self: center;

    width: 90vw;

    .link {
        color: inherit;
        text-shadow: none;
        background-image: none;
    }
}

.blog__post {
    display: flex;
    flex-direction: column;
    width: 90vw;
    align-self: center;
}

@media screen and (min-width: 768px) {
    .blog__posts {
        width: 50vw;
    }

    .blog__post {
        width: 50vw;
    }
}