$linkColor: hsla(174, 42, 51, 1);

.social {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  list-style: none;

  .social__link {
    font-size: 20pt;
    color: hsla(0, 0, 0, 0.7);
    text-shadow: none;
    background-image: none;
    transition: ease-in-out 0.1s;

    &:hover {
      color: $linkColor;
      transition: ease-in-out 0.1s;
    }
  }
}
