$linkColor: hsla(174, 42, 51, 1);

.social {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  margin-left: 0;

  .social__link {
    font-size: 20pt;
    color: hsla(0, 0, 0, 0.7);
    text-shadow: none;
    background-image: none;
    transition: ease-in-out 0.1s;
    margin-left: 7px;
    margin-right: 7px;

    &:hover, &:focus {
      color: $linkColor;
      transition: ease-in-out 0.1s;
    }
  }
}

@media screen and (min-width: 768px) {
  .social {
    margin-top: 0px;
    flex-direction: column;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

    .social__link {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}